<div id="header-post">
  <a id="top-icon-tablet" href="#" style="display:none;"><i class="fas fa-chevron-up fa-lg"></i></a>
  <span id="menu">
    <div class="toc-wrapper">
      <%- toc(page.content) %>
    </div>
  </span>
</div>
