$color-background = #FFFFFF
$color-footer-mobile-1 = darken($color-background, 2%)
$color-footer-mobile-2 = darken($color-background, 10%)
$color-background-code = #212326
$color-border = #666
$color-meta = #666
$color-link = #F2C063
$color-text = black
$color-meta-code = lighten($color-text, 10%)
$color-selection = #ffeac8
$color-tag = #65BDF0
$color-accent-4 = #c8ffcd
$color-accent-3 = lighten($color-text, 10%)
$color-accent-2 = black
$color-accent-1 = #65BDF0
$color-quote = #04ADBF
$highlight = hexo-config("highlight") || "atelier-cave-light"
