
    .info
      display: block
      font-style: italic

      a
        margin-right: 15px
        color: $color-accent-1

      a:hover
        underline(5px, $color-accent-1)

      li
        display: inline-block
        margin-right: 15px
        border-right: 1px dotted
        border-color: $color-accent-1
        vertical-align: middle

      .icon
        display: none

      li:last-child
        margin-right: 0
        border-right: 0

        a
          margin-right: 0


#actions
    width: auto
    margin-top: 2rem
    width: 100%
    text-align: right

    ul
        display: inline-block
        margin: 0
        padding: 0
        list-style-type: none
        line-height: 15px

        li
            display: inline-block
            margin-right: 0.5rem
        li:last-child
            margin-right: 0

    .info
        display: inline
        float: left
        margin-right: 2rem
        font-style: italic