.profile-pic
  width: 75px
  height: 75px
  margin-right: 20px

#about p
  margin-top: 0
  margin-bottom: 0.8em

.post-list
  padding: 0

  .post-item
    margin-bottom: 2rem
    margin-left: 0
    list-style-type: none

    .meta
      margin-left: 0.7rem
    .postdate
      background: $color-accent-4;
      padding: 0 7px;
      font-size: 0.8rem;
      color: black;

  .post-title
    flex: 1 100%;

    a
      background-image: none;
      font-weight: 500;
    
@media (max-width: 900px)
  .post-list .post-item .meta
    display: block;
    margin-left: 0;
@media (min-width: 480px)
  .post-list
    .post-item
      display: flex
      flex-flow: row wrap;
      align-items: center

      .meta
        text-align: left

.project-list
  padding: 0
  list-style: none

  .project-item
    margin-bottom: 10px
    p
      display: inline
